.card {
  @apply rounded-sm rounded-lg shadow-md;
  @apply bg-white;
  @apply dark:bg-gray-900;
  &.card-nav {
    .card-header {
      @apply border-b;
      padding: 0px 10px !important;
    }
  }
  .card-header {
    padding: 1rem;
    @apply rounded-t-lg;
    @apply bg-gray-200;
    @apply text-gray-700;
    @apply font-semibold;
    @apply text-sm;
    @apply dark:bg-gray-800 dark:text-gray-200 dark:border-gray-700;
  }
  .card-body {
    @apply p-3;
    @apply dark:text-gray-500;
    @apply font-normal;
    @apply text-sm rounded-b-lg;
  }
  .card-footer {
    @apply p-3 rounded-b-lg;
    @apply bg-gray-200;
    @apply text-gray-700;
    @apply font-semibold;
    @apply text-sm;
    @apply dark:bg-gray-800 dark:text-gray-200 border-t dark:border-gray-700;
  }
}

/* Widget */

.widget {
  @apply flex p-4 rounded-lg;
  @apply text-gray-700 bg-gray-200;
  @apply dark:bg-gray-900 dark:text-gray-200;

  .widget-content {
    @apply flex-1;
    // @apply font-semibold;
    @apply text-sm;

    h1 {
      @apply text-lg;
    }

    h2 {
      @apply text-4xl;
    }
  }
  .widget-icon {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply text-center;
    @apply font-semibold;
    @apply text-sm;
    min-width: 100px;
    width: 100px;
    font-size: 3rem;
    transition: all 0.2s ease;
    @apply dark:bg-gray-900 dark:text-gray-500;
  }
  &:hover {
    .widget-icon {
      font-size: 3.3rem;
    }
  }
}
