.left-navigation {
    
    position: fixed;
    top: $top-nav-height;
    left: 0;
    width: $side-nav-width;
    height: calc(100vh - $top-nav-height);
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @apply  bg-white border-r;
    @apply dark:bg-black dark:border-gray-800;
}

.vertical-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    li {
        @apply button-main-navigation;
        &.menu-item {
            font-size: 11px;
            text-transform: capitalize;
            i {
                font-size: 18px;
            }
            a {
                padding: 10px 0px;
            }
        }
        &.active {
            @apply bg-gray-200;
            @apply dark:bg-gray-900;

            .submenu {
                // display: block;
                opacity: 1;
                visibility: visible;
                // left: $side-nav-width;
            }
        }
        a {
            @apply border-b border-gray-200 ;
            @apply dark:border-gray-800;
            display: block;
            text-align: center;
        }
        ul.submenu {
            @apply bg-gray-200;
            @apply dark:bg-gray-800;
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            transition: all 0.2s ease-in;
            // left: -200px;
            left: $side-nav-width;
            visibility: hidden;
            opacity: 0;
            top: 0;
            width: 200px;
            height: calc(100vh - $top-nav-height);
            text-align: left;
            z-index: 1;
            li.title {
                @apply bg-gray-500;
                @apply dark:bg-gray-900;

                color: white;
                text-transform: uppercase;
                font-size: $font-size-base;
                font-weight: bold;
                padding: 7.5px 5px;
            }
            li a {
                color: #696969;
                padding: 8px 8px;
                font-size: $font-size-small;
                display: block;
                text-align: left;
                &:hover {
                    background: #f3f3f3;
                }
            }
        }
    }
}

ul.bottom-section-menu {
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        @apply button-main-navigation;
        &:hover {
            cursor: pointer;
        }
    }
}