.top-navigation {
  background: white;
  border-bottom: 1px solid #e5e5e5;
  height: $top-nav-height;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  @apply dark:bg-black dark:text-gray-500 dark:border-gray-800 bg-white text-gray-800 border-b border-gray-200;

  .top-nav-center {
    -webkit-app-region: drag;
    user-select: none;
  }
  .app-nav {
    max-width: 300px;
    button {
      padding: 0 10px;
      height: $top-nav-height;
      &:hover {
        @apply bg-gray-200;
      }
    }
  }
  .brands {
    @apply bg-gray-100 dark:bg-gray-800;
    width: $side-nav-width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-nav-divider {
    width: 1px;
    height: calc($top-nav-height * 0.6);
    background: #9b9b9b;
    margin: 0 10px;
  }
  .window-nav {
    display: inline-flex;
    .window-nav-item {
      height: $top-nav-height;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      padding: 0px 10px;
      &:hover {
        background: #e5e5e5;
      }
    }
  }
  .top-nav-menus {
    ul.menu-container {
      list-style: none;
      display: inline-flex;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        height: $top-nav-height;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        position: relative;
        &:hover {
          background: #e5e5e5;
        }
        .badge {
          position: absolute;
          background: red;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 9px;
          color: white;
          width: 10px;
          height: 10px;
          right: 10px;
          opacity: 1;
          top: 5px;
          animation: blink-animation 0.1s steps(2, start) infinite;
          -webkit-animation: blink-animation 1s steps(5, start) infinite;
        }
      }
    }
    .search-container {
      margin-right: 10px;
      position: relative;
      .search-panel {
        @apply border border-gray-200 rounded-md p-1 mr-3 dark:border-gray-700;
        font-size: 11px;
        width: 100%;
        span {
          padding: 0px 5px;
        }
        input {
          @apply dark:bg-black;
          width: 150px;
          color: #6b6b6b;

          &:focus {
            outline: none;
          }
        }
      }
      .search-suggestion {
        @apply border border-gray-200 rounded-md mr-3;
        overflow-y: scroll;
        margin-top: 5px;
        position: absolute;
        background: #fff;
        height: 200px;
        width: 100%;
        display: none;
        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-thumb {
          background: #888;
        }
        &.active {
          display: block;
        }
      }
    }
  }
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
