$top-nav-height: 40px;
$left-nav-width: 60px;

/* <Font Size> */

$font-size-base: 16px;
$font-size-large: $font-size-base+2px;
$font-size-small: $font-size-base - 2px;

/* </Font Size> */

:root {
    --top-nav-height: $top-nav-height;
    --left-nav-width: $left-nav-width;
}