$top-nav-height: 40px;
$left-nav-width: 40px;

/* <colors> */

$primary-color: #00bcd4;
$secondary-color: #444444;
$success-color: #4caf50;
$info-color: #2196f3;
$warning-color: #ff9800;
$danger-color: #f44336;

/* </colors> */


/* <Font Size> */

$font-size-base: 16px;
$font-size-large: $font-size-base+2px;
$font-size-small: $font-size-base - 2px;

/* </Font Size> */

:root {
    --top-nav-height: $top-nav-height;
    --left-nav-width: $left-nav-width;
}