@import "./variables";
@import "./scrollbar";
@import "./colors";

@import "./sidemenu";
@import "./topnavigation";
@import "./bottomnavigation";

@import "./buttons";
@import "./card_widgets";

@import "./tables";
@import "./main";

/* Body */

body {
    font-family: 'Poppins', sans-serif;
}


/* Input */

.fas {
    font-weight: 500;
}

input.form-control {
    @apply border p-1.5 w-full;
}

label {
    @apply block mb-1 font-bold text-base;
}